<!DOCTYPE html>
<html>
<head>
	<script src='https://www.google.com/recaptcha/api.js'></script>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1>Upload a file</h1>
<br>
<input type="file" id="file_input"/>
<hr>
<p id="status">Please select a file to upload</p>


<script type="text/javascript">

/*
    Function to carry out the actual PUT request to S3 using the signed request from the Python app.
*/
function upload_file(file, signed_request, url){
	var files = document.getElementById("file_input").files;
	var filename = files[0].name;
	var stat_tag = document.getElementById("status")
	var xhr = new XMLHttpRequest();
	xhr.open("PUT", signed_request);
	xhr.setRequestHeader('x-amz-acl', 'public-read');
	xhr.onload = function() {
		if (xhr.status === 200) {
			stat_tag.innerHTML = "Successfully uploaded '"+filename+"'."+
				"<br/>Click the button above to choose another file to upload.";            
		}
	};
	xhr.upload.onprogress = function (e) {
		if (e.lengthComputable) {
			percent = Math.round((e.loaded/e.total) * 100.0);
			stat_tag.innerHTML = "Uploading '"+filename+"': "+percent+'%';
		}
	};

	xhr.onerror = function() {
		alert("Could not upload file '"+filename+"'.");
		location.reload(true);
	};
	stat_tag.innerHTML = "Uploading '"+filename+"'"
	xhr.send(file);
}

/*
    Function to get the temporary signed request from the Python app.
    If request successful, continue to upload the file using this signed
    request.
*/
function get_signed_request(file){
    var xhr = new XMLHttpRequest();
    xhr.open("GET", "/sign_s3?file_name="+file.name+"&file_type="+file.type);
    xhr.onreadystatechange = function(){
        if(xhr.readyState === 4){
            if(xhr.status === 200){
                var response = JSON.parse(xhr.responseText);
                upload_file(file, response.signed_request, response.url);
            }
            else{
                alert("Could not get signed URL.");
                location.reload(true);
            }
        }
    };
    xhr.send();
}

/*
   Function called when file input updated. If there is a file selected, then
   start upload procedure by asking for a signed request from the app.
*/
function init_upload(){
    var files = document.getElementById("file_input").files;
    var file = files[0];
    if(file == null){
        alert("No file selected.");
        return;
    }
    get_signed_request(file);
}

/*
   Bind listeners when the page loads.
*/
(function() {
    document.getElementById("file_input").onchange = init_upload;
})();

</script>
</body>
</html>
